дз1/1
дз1/2
дз1/3
дз1/4
дз1/5
.vscode/tasks.json
.vscode/launch.json
дз3/1
дз3/2
дз3/3
дз3/4
дз3/5

дз4/1
дз4/2
дз4/3
дз4/4
дз4/5
дз4/6
дз4/7
дз4/8
дз4/9
дз4/10


дз2/1
дз2/2
дз2/3
дз2/4
дз2/5
.vscode/settings.json
дз4/6
дз5/1
дз5/2
дз5/3

дз5/4.txt
дз3/3.txt
дз5/5.1
.gitignore
.gitignore
дз5/5.25
.gitignore
дз5/4.14
дз5/4.13
дз5/3.12
дз5/5.4
